@use '../util' as *;

.toggle {

  border: none;

  &__wrapper {
    position: relative;
  }

  input[type="radio"] {
    width: rem(26);
    height: rem(30);
    margin: 0 rem(-2);
    opacity: 0;

    &:focus~.toggle__button {
      border: 2px solid orange;
    }
  }

  input[type="radio"]:first-child {
    margin-left: 0;
  }

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: rem(52);
    height: rem(30);
    background-color: black;
    border-radius: rem(15);
    opacity: 0.7;
    pointer-events: none;
  }

  &__button {
    width: rem(22);
    height: rem(22);
    border-radius: 50%;
    background-color: aliceblue;
    position: absolute;
    transition: all 150ms ease-in-out;
    top: rem(4);
    left: rem(4);

    #dark:checked~& {
      left: rem(26);
    }
  }
}